# ==============================================================================
# CONFIGURAÇÕES DO SERVIDOR
# ==============================================================================
ORDER_SERVICE_PORT=8081

# ==============================================================================
# CONFIGURAÇÕES DO BANCO DE DADOS (POSTGRESQL LOCAL)
# ==============================================================================
DB_URL=jdbc:postgresql://localhost:5432/ecommerce
DB_USERNAME=root
DB_PASSWORD=rootpassword

# ==============================================================================
# CONFIGURAÇÕES DO MESSAGERIA (APACHE KAFKA)
# ==============================================================================
KAFKA_SERVERS=localhost:9092